body {
  background-color: #e3f2fd;
  font-family: "Arial", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.calculator-container {
  width: 100%;
  max-width: 400px;
  padding: 25px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  text-align: center
}

input {
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 15px;
  font-size: 16px;
  border: 2px solid #007bff;
  border-radius: 8px;
  background-color: #f8f9fa;
  color: #333;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input:focus {
  border-color: #0056b3;
  box-shadow: 0 0 8px rgba(0, 91, 187, 0.5);
  outline: none;
}

button {
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: #007bff;
  margin-left: 20px;
}

button:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button.btn-add {
  background-color: #007bff; 
}

button.btn-add:hover {
  background-color: #0056b3; 
}

button.btn-subtract {
  background-color: #28a745;
}

button.btn-subtract:hover {
  background-color: #1e7e34; 
}

button.btn-multiply {
  background-color: #fd7e14; 
}

button.btn-multiply:hover {
  background-color: #d65f08;
}


.result-text {
  font-size: 1.75rem;
  color: #333;
  margin-top: 15px;
  font-weight: bold;
}
